# Download the dataset

https://github.com/Callisthenes/python_course_ie/blob/main/MFG10YearTerminationData.csv

# Download the cheatsheet

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

## Upload dataset in colab

Go to the panel on the left and click in the folder, then click in upload a file and upload the file you just downloaded from github

# Importing the libraries for this lab

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

# Importing with Pandas

In [5]:
df = pd.read_csv ("MFG10YearTerminationData.csv")

FileNotFoundError: ignored

## Previewing first five rows

In [ ]:
df.head()

## Seeing all columns

In [ ]:
df.columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

## Types of data

In [ ]:
df.dtypes

EmployeeID              int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_name              int64
gender_short           object
gender_full            object
termreason_desc        object
termtype_desc          object
STATUS_YEAR             int64
STATUS                 object
BUSINESS_UNIT          object
dtype: object

## Statistics

In [ ]:
df.shape

(49653, 18)

In [ ]:
df.describe()

,EmployeeID,age,length_of_service,store_name,STATUS_YEAR
count,49653.000000,49653.000000,49653.000000,49653.000000,49653.000000
mean,4859.495740,42.077035,10.434596,27.297605,2010.612612
std,1826.571142,12.427257,6.325286,13.514134,2.845577
min,1318.000000,19.000000,0.000000,1.000000,2006.000000
25%,3360.000000,31.000000,5.000000,16.000000,2008.000000
50%,5031.000000,42.000000,10.000000,28.000000,2011.000000
75%,6335.000000,53.000000,15.000000,42.000000,2013.000000
max,8336.000000,65.000000,26.000000,46.000000,2015.000000

In [ ]:
df.value_counts("job_title")

job_title
Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
Baker                              8096
Cashier                            6816
Shelf Stocker                      5622
Customer Service Manager            306
Processed Foods Manager             289
Meats Manager                       285
Bakery Manager                      285
Produce Manager                     278
Store Manager                       271
Recruiter                            62
HRIS Analyst                         55
Accounting Clerk                     50
Benefits Admin                       35
Accounts Receiveable Clerk           30
Labor Relations Analyst              30
Trainer                              26
Accounts Payable Clerk               25
Systems Analyst                      20
Compensation Analyst                 20
Auditor                              20
Investment Analyst                   20
Corporate Lawyer                     17
Exec Assistant, VP Stores            10
VP Finance                           10
VP Human Resources                   10
Legal Counsel                        10
VP Stores                            10
Exec Assistant, Legal Counsel        10
Exec Assistant, Finance              10
CEO                                  10
Director, Recruitment                10
CHief Information Officer            10
Exec Assistant, Human Resources      10
Director, Accounting                  9
Director, HR Technology               9
Director, Employee Records            9
Dairy Manager                         9
Director, Accounts Receivable         9
Director, Accounts Payable            9
Director, Compensation                4
Director, Audit                       4
Director, Investments                 4
Director, Training                    4
Director, Labor Relations             4
dtype: int64

In [ ]:
#another way
df['gender_short'].value_counts()

F    25898
M    23755
Name: gender_short, dtype: int64

In [ ]:
#visualizing

abcd= sns.catplot(y="gender_short", hue='department_name', kind="count",
            palette='rainbow_r', edgecolor=".6",
            data = df)

/usr/local/lib/python3.7/dist-packages/seaborn/axisgrid.py:409: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure(figsize=figsize)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: MatplotlibDeprecationWarning: Passing the block parameter of show() positionally is deprecated since Matplotlib 3.1; the parameter will become keyword-only in 3.3.

## More info

In [ ]:


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB

## Making a query

In [ ]:

df.loc[df['EmployeeID'] == 1319]

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
10,1319,12/31/2006 0:00,1/3/1957,8/28/1989,1/1/1900,49,17,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
11,1319,12/31/2007 0:00,1/3/1957,8/28/1989,1/1/1900,50,18,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
12,1319,12/31/2008 0:00,1/3/1957,8/28/1989,1/1/1900,51,19,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
13,1319,12/31/2009 0:00,1/3/1957,8/28/1989,1/1/1900,52,20,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
14,1319,12/31/2010 0:00,1/3/1957,8/28/1989,1/1/1900,53,21,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
15,1319,12/31/2011 0:00,1/3/1957,8/28/1989,1/1/1900,54,22,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2011,ACTIVE,HEADOFFICE
16,1319,12/31/2012 0:00,1/3/1957,8/28/1989,1/1/1900,55,23,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2012,ACTIVE,HEADOFFICE
17,1319,12/31/2013 0:00,1/3/1957,8/28/1989,1/1/1900,56,24,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2013,ACTIVE,HEADOFFICE
18,1319,12/31/2014 0:00,1/3/1957,8/28/1989,1/1/1900,57,25,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE
19,1319,12/31/2015 0:00,1/3/1957,8/28/1989,1/1/1900,58,26,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE

## Let's make a copy just in case before EDA
#### We might be dropping or altering original dataset in EDA

In [ ]:
df_original = df.copy()

# Checklist for our EDA

## Checking for nulls

In [ ]:


df.isnull().sum()

EmployeeID             0
recorddate_key         0
birthdate_key          0
orighiredate_key       0
terminationdate_key    0
age                    0
length_of_service      0
city_name              0
department_name        0
job_title              0
store_name             0
gender_short           0
termreason_desc        0
termtype_desc          0
STATUS_YEAR            0
STATUS                 0
BUSINESS_UNIT          0
dtype: int64

## Checking for duplicates

In [ ]:
df.drop_duplicates(inplace=True)
df

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Layoff,Involuntary,2014,TERMINATED,STORES

## Dropping Columns
At this point we should ask ourselves what is our objective?

- Do we want to predict attrition?
- Do we want to make graphics to show this data in a friendly way?
- Have we been asked to clean data (we already started)


Our objective will determine how the dataset will be customized for our specific need

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49653 entries, 0 to 49652
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  termreason_desc      49653 non-null  object
 13  termtype_desc        49653 non-null  object
 14  STATUS_YEAR          49653 non-null  int64
 15  STATUS               49653 non-null  object
 16  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(12)
memory usage: 6.8+ MB

In [ ]:
## Dropping columns

df.drop(['gender_full'], axis=1, inplace=True)

KeyError: ignored

In [ ]:
df.tail()

## Let's find out where are our employees coming from

In [ ]:
df["city_name"].unique()

array(['Vancouver', 'Terrace', 'Nanaimo', 'Nelson', 'Kelowna', 'Victoria',
       'Kamloops', 'Fort St John', 'Surrey', 'Vernon', 'Quesnel',
       'Chilliwack', 'Dawson Creek', 'Squamish', 'New Westminster',
       'Port Coquitlam', 'Cortes Island', 'Burnaby', 'Bella Bella',
       'Cranbrook', 'Williams Lake', 'Trail', 'Prince George', 'Richmond',
       'Grand Forks', 'West Vancouver', 'Abbotsford', 'Aldergrove',
       'Langley', 'North Vancouver', 'White Rock', 'New Westminister',
       'Fort Nelson', 'Haney', 'Valemount', 'Ocean Falls', 'Princeton',
       'Dease Lake', 'Pitt Meadows', 'Blue River'], dtype=object)

In [ ]:
# Does the array message sound familiar?

In [ ]:
#Another way to do this
df.city_name.unique()

array(['Vancouver', 'Terrace', 'Nanaimo', 'Nelson', 'Kelowna', 'Victoria',
       'Kamloops', 'Fort St John', 'Surrey', 'Vernon', 'Quesnel',
       'Chilliwack', 'Dawson Creek', 'Squamish', 'New Westminster',
       'Port Coquitlam', 'Cortes Island', 'Burnaby', 'Bella Bella',
       'Cranbrook', 'Williams Lake', 'Trail', 'Prince George', 'Richmond',
       'Grand Forks', 'West Vancouver', 'Abbotsford', 'Aldergrove',
       'Langley', 'North Vancouver', 'White Rock', 'New Westminister',
       'Fort Nelson', 'Haney', 'Valemount', 'Ocean Falls', 'Princeton',
       'Dease Lake', 'Pitt Meadows', 'Blue River'], dtype=object)

## What about the different positions in the hierarchy of the company?

In [ ]:
df.job_title.unique()

array(['CEO', 'VP Stores', 'Legal Counsel', 'VP Human Resources',
       'VP Finance', 'Exec Assistant, VP Stores',
       'Exec Assistant, Legal Counsel', 'CHief Information Officer',
       'Store Manager', 'Meats Manager',
       'Exec Assistant, Human Resources', 'Exec Assistant, Finance',
       'Director, Recruitment', 'Director, Training',
       'Director, Labor Relations', 'Director, HR Technology',
       'Director, Employee Records', 'Director, Compensation',
       'Corporate Lawyer', 'Produce Manager',
       'Director, Accounts Receivable', 'Bakery Manager',
       'Systems Analyst', 'Director, Accounts Payable', 'Director, Audit',
       'Director, Accounting', 'Director, Investments', 'Dairy Person',
       'Recruiter', 'Processed Foods Manager', 'Customer Service Manager',
       'Trainer', 'Meat Cutter', 'Labor Relations Analyst',
       'Dairy Manager', 'HRIS Analyst', 'Benefits Admin',
       'Compensation Analyst', 'Accounts Receiveable Clerk',
       'Accounts Payable Clerk', 'Baker', 'Auditor', 'Accounting Clerk',
       'Investment Analyst', 'Produce Clerk', 'Shelf Stocker', 'Cashier'],
      dtype=object)

## Checking and dropping categorical variables

In [ ]:
df.dtypes

EmployeeID              int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_name              int64
gender_short           object
termreason_desc        object
termtype_desc          object
STATUS_YEAR             int64
STATUS                 object
BUSINESS_UNIT          object
dtype: object

# How can we preview our data

In [ ]:
!pip install pandasprofiling

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas_profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (2.11.3)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.3.5)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (3.2.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas_profiling) (2.0.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas_profiling) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas_profiling) (2022.5)

TypeError: ignored

In [ ]:
report = ProfileReport(df)
report

TypeError: ignored